// You can use this file when developping, but normally, all sass should be in Vapor itself.
// Primary palette
$darker-blue: #193045;
$dark-blue: #263e55;
$medium-blue: #1d4f76;
$light-blue: #296896;
$dark-grey: #373737;
$dark-medium-grey: #7a7d81;
$medium-grey: #bcc3ca;
$light-grey: #e6ecf0;
$white: #f1f3f4;
$pure-white: #ffffff;
$orange: #f58020;
$stratos: #08080e;
$purple-blue: #1e2541;

// Secondary palette
$red: #ce3f00;
$yellow: #ecad00;
$green: #009830;
$blue: #009ad9;
$black: #000000;

// Navigation
$navigation-menu-header-font-weight: 700;
$navigation-menu-item-font-weight: 400;
$navigation-width: 245px;
$navigation-background-color: $purple-blue;
$navigation-active-background-color: #354667;
$navigation-active-border-width: 3px;
$navigation-section-icon-size: 16px;
$navigation-section-icon-margin: 15px;
$navigation-horizontal-space: 2 * $navigation-section-icon-margin + $navigation-section-icon-size - $navigation-active-border-width;
$navigation-locked-color: $medium-grey;
$navigation-tag-font-size: 9px;
$navigation-tag-padding: 2px 5px;
$navigation-menu-section-height: 30px;
$navigation-loading-height: 12px;
$navigation-loading-item-margin: ($navigation-menu-section-height - $navigation-loading-height) / 2;
$navigation-loading-item-border-radius: 10px;
$navigation-loading-background-size: 300% 104px;
$navigation-loading-bullet-width: 12px;

@for $i from 1 through 9 {
    $size: $i * 10;
    .mod-width-#{$size} {
      width: $size * 1%;
    }
  }

.loading-bg-grey {
    background: $white;
    background: linear-gradient(to right, #647686 8%, #778a9a 18%, #647686 33%);
    background-size: $navigation-loading-background-size;
  }

  .loading-bg-light-grey {
    background: $light-grey;
    background: linear-gradient(to right, #e9eef2 8%, #d1dbe3 18%, #e9eef2 33%);
    background-size: $navigation-loading-background-size;
  }

  .navigation-loading-animation {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: move-background-horizontal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    transform: translate3d(0,0,0);
  }

  .navigation-loading-item {
    position: relative;

    height: $navigation-loading-height;
    max-width: 90%;
    margin: $navigation-loading-item-margin 0;

    background-size: $navigation-loading-background-size;
    border-radius: $navigation-loading-item-border-radius;

    @extend .navigation-loading-animation;
  }

  .navigation-loading-item-light-grey {
    @extend .navigation-loading-item;
    @extend .loading-bg-light-grey;
  }

  .navigation-loading-item-grey {
    @extend .navigation-loading-item;
    @extend .loading-bg-grey;
  }

  .mod-navigation-loading-bullet {
    width: $navigation-loading-bullet-width;
  }

  .mod-sub-navigation-left-margin {
    margin-left: $navigation-horizontal-space;
  }